body{
  margin:0;
  background:black;
  color:white;
  font-family:"Segoe UI",sans-serif;
  text-align:center;
}

#language, #login, #levels, #microActions{
  margin:10px;
}

canvas{
  display:block;
  margin:0 auto;
  border:2px solid #fff;
  border-radius:10px;
}

#microActions button, #levels button, #language button{
  margin:5px;
  padding:10px 15px;
  border-radius:8px;
  border:none;
  cursor:pointer;
  font-size:1em;
}

#microActions button:hover, #levels button:hover, #language button:hover{
  opacity:0.8;
}
