body{
 margin:0;
 background:black;
 color:white;
 font-family:sans-serif;
 text-align:center;
}
#loader{
 height:100vh;
 display:flex;
 align-items:center;
 justify-content:center;
 font-size:1.5em;
}
.landscape{
 padding:30px;
 background:linear-gradient(#111,#000);
 min-height:50vh;
}
.pro{
 margin-top:40px;
}
button{
 padding:15px 25px;
 font-size:1em;
 cursor:pointer;
}
